body {
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
  text-indent: 20px;
  text-align: justify;
}

img {
  display: block;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.jumbotron-color {
    background: #303030;
}

.jumbotron h1, .jumbotron h2 {
    color: white;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}
